body {
    background-color: lightblue;
    border:  4px solid black;
    display: run-in;
}

p{
  text-align: center;
  font-family: amatic SC;
}

#mainNav {
  min-height: 56px;
  background-color: white;
}

h2 {
  padding-top: 60px;
  text-align: center;
  font-family: Courier New ;
  font-size: 40px
}

img {
  padding-top: 50px;
  width: 1000px;
  height: 400px;
}
